@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #21243d;
  line-height: 1;
  font-family: "Heebo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 53.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.45;
  color: #ffffff;
  background-color: #ff6464;
  border-radius: 0.125rem;
  padding: 0.5625rem 1.25rem 1.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  height: 4.6875rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__body {
  margin-right: 0.9375rem;
}

.menu__list {
  -webkit-transform: translate(5.5rem, 0px);
      -ms-transform: translate(5.5rem, 0px);
          transform: translate(5.5rem, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.0625rem;
}

.menu__item {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.45;
  color: #000000;
}

.menu__item_active {
  color: red;
}

.icon-menu {
  display: none;
}

.footer__container {
  height: 11.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
}

@supports (padding-top: clamp( 2.0625rem , -1.5417402827rem  +  18.0212014134vw , 8.4375rem )) {
  .preview {
    padding-top: clamp( 2.0625rem , -1.5417402827rem  +  18.0212014134vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 2.0625rem , -1.5417402827rem  +  18.0212014134vw , 8.4375rem )) {
  .preview {
    padding-top: calc(2.0625rem + 6.375 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 3.6875rem , 3.2634717314rem  +  2.1201413428vw , 4.4375rem )) {
  .preview {
    padding-bottom: clamp( 3.6875rem , 3.2634717314rem  +  2.1201413428vw , 4.4375rem );
  }
}

@supports not (padding-bottom: clamp( 3.6875rem , 3.2634717314rem  +  2.1201413428vw , 4.4375rem )) {
  .preview {
    padding-bottom: calc(3.6875rem + 0.75 * (100vw - 20rem) / 35.375);
  }
}

.preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.125rem;
}

.preview__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.625rem;
          flex: 0 1 31.625rem;
}

.preview__image {
  position: relative;
}

.preview__image img {
  max-width: 100%;
  position: relative;
}

.preview__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5.3497942387%;
  right: 2.0576131687%;
  border-radius: 50%;
  background-color: #edf7fa;
}

.body-preview__title {
  font-weight: 700;
  line-height: 1.3636363636;
  color: #21243d;
}

@supports (font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem )) {
  .body-preview__title {
    font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem )) {
  .body-preview__title {
    font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 35.375);
  }
}

.body-preview__title:not(:last-child) {
  margin-bottom: 0.9090909091em;
}

.body-preview__text {
  line-height: 1.5;
  color: #21243d;
}

.body-preview__text:not(:last-child) {
  margin-bottom: 2.375em;
}

.resent-posts {
  background-color: #edf7fa;
}

@supports (padding-top: clamp( 0.4375rem , 0.4375rem  +  0vw , 0.4375rem )) {
  .resent-posts {
    padding-top: clamp( 0.4375rem , 0.4375rem  +  0vw , 0.4375rem );
  }
}

@supports not (padding-top: clamp( 0.4375rem , 0.4375rem  +  0vw , 0.4375rem )) {
  .resent-posts {
    padding-top: calc(0.4375rem + 0 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 2rem , 2.5870141343rem  +  -1.0600706714vw , 2.375rem )) {
  .resent-posts {
    padding-bottom: clamp( 2rem , 2.5870141343rem  +  -1.0600706714vw , 2.375rem );
  }
}

@supports not (padding-bottom: clamp( 2rem , 2.5870141343rem  +  -1.0600706714vw , 2.375rem )) {
  .resent-posts {
    padding-bottom: calc(2.375rem + -0.375 * (100vw - 20rem) / 35.375);
  }
}

.resent-posts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resent-posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.resent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-resent-posts__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.7272727273;
  color: #21243d;
}

.top-resent-posts__label {
  line-height: 1.5;
  color: #00a8cc;
}

.item-resent-posts {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0.25rem 0.625rem rgba(187, 225, 250, 0.25);
          box-shadow: 0px 0.25rem 0.625rem rgba(187, 225, 250, 0.25);
  border-radius: 0.25rem;
  padding: 1.375rem;
}

.item-resent-posts__title {
  font-weight: 700;
  line-height: 1.4615384615;
  color: #21243d;
}

@supports (font-size: clamp( 1.375rem , 1.2336572438rem  +  0.7067137809vw , 1.625rem )) {
  .item-resent-posts__title {
    font-size: clamp( 1.375rem , 1.2336572438rem  +  0.7067137809vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2336572438rem  +  0.7067137809vw , 1.625rem )) {
  .item-resent-posts__title {
    font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.item-resent-posts__title:not(:last-child) {
  margin-bottom: 0.6538461538em;
}

.item-resent-posts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.4444444444;
  color: #21243d;
}

@supports (font-size: clamp( 1rem , 0.9293286219rem  +  0.3533568905vw , 1.125rem )) {
  .item-resent-posts__block {
    font-size: clamp( 1rem , 0.9293286219rem  +  0.3533568905vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9293286219rem  +  0.3533568905vw , 1.125rem )) {
  .item-resent-posts__block {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 35.375);
  }
}

.item-resent-posts__date {
  border-right: 0.0625rem solid #000000;
  padding-right: 1.625rem;
  margin-right: 1.625rem;
}

.item-resent-posts__date:not(:last-child) {
  margin-bottom: 0.6111111111em;
}

.item-resent-posts__text {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 0.4375rem;
}

@supports (padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem )) {
  .featured {
    padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem )) {
  .featured {
    padding-bottom: calc(1.875rem + 3.3125 * (100vw - 20rem) / 35.375);
  }
}

.featured__header {
  padding: 0.9375rem 0rem 0rem 0rem;
  font-size: 1.375rem;
  line-height: 2.7272727273;
  color: #21243d;
}

.row-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

@supports (padding-top: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-featured {
    padding-top: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-featured {
    padding-top: calc(2.1875rem + 0 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-featured {
    padding-bottom: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-featured {
    padding-bottom: calc(2.1875rem + 0 * (100vw - 20rem) / 35.375);
  }
}

.row-featured__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.4666666667;
  color: #21243d;
}

.row-featured__title:not(:last-child) {
  margin-bottom: 0.5333333333em;
}

.row-featured__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
}

.row-featured__block:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.row-featured__date {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #ffffff;
  background-color: #142850;
  padding: 0rem 0.625rem;
  border-radius: 1rem;
}

.row-featured__type {
  font-size: 1.25rem;
  line-height: 1.45;
  color: #8695a4;
}

.row-featured__text {
  line-height: 1.5;
  color: #21243d;
}

@supports (padding-top: clamp( 1.5rem , -1.3975265018rem  +  14.4876325088vw , 6.625rem )) {
  .blog {
    padding-top: clamp( 1.5rem , -1.3975265018rem  +  14.4876325088vw , 6.625rem );
  }
}

@supports not (padding-top: clamp( 1.5rem , -1.3975265018rem  +  14.4876325088vw , 6.625rem )) {
  .blog {
    padding-top: calc(1.5rem + 5.125 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 1.125rem , -0.1824204947rem  +  6.5371024735vw , 3.4375rem )) {
  .blog {
    padding-bottom: clamp( 1.125rem , -0.1824204947rem  +  6.5371024735vw , 3.4375rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , -0.1824204947rem  +  6.5371024735vw , 3.4375rem )) {
  .blog {
    padding-bottom: calc(1.125rem + 2.3125 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.6773409894rem  +  13.074204947vw , 5.5625rem )) {
  .blog__container {
    padding-left: clamp( 0.9375rem , -1.6773409894rem  +  13.074204947vw , 5.5625rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.6773409894rem  +  13.074204947vw , 5.5625rem )) {
  .blog__container {
    padding-left: calc(0.9375rem + 4.625 * (100vw - 20rem) / 35.375);
  }
}

.blog__title {
  font-weight: 700;
  line-height: 1.3636363636;
  color: #21243d;
}

@supports (font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem )) {
  .blog__title {
    font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem )) {
  .blog__title {
    font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 35.375);
  }
}

.blog__title:not(:last-child) {
  margin-bottom: 0.4545454545em;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.item-blog {
  border-bottom: 0.0625rem solid #e0e0e0;
}

@supports (padding-top: clamp( 1.5rem , 1.3233215548rem  +  0.8833922261vw , 1.8125rem )) {
  .item-blog {
    padding-top: clamp( 1.5rem , 1.3233215548rem  +  0.8833922261vw , 1.8125rem );
  }
}

@supports not (padding-top: clamp( 1.5rem , 1.3233215548rem  +  0.8833922261vw , 1.8125rem )) {
  .item-blog {
    padding-top: calc(1.5rem + 0.3125 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 1.5rem , 1.3233215548rem  +  0.8833922261vw , 1.8125rem )) {
  .item-blog {
    padding-bottom: clamp( 1.5rem , 1.3233215548rem  +  0.8833922261vw , 1.8125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5rem , 1.3233215548rem  +  0.8833922261vw , 1.8125rem )) {
  .item-blog {
    padding-bottom: calc(1.5rem + 0.3125 * (100vw - 20rem) / 35.375);
  }
}

.item-blog__title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #21243d;
}

@supports (font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem )) {
  .item-blog__title {
    font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem )) {
  .item-blog__title {
    font-size: calc(1.625rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.item-blog__title:not(:last-child) {
  margin-bottom: 0.6153846154em;
}

.item-blog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3;
  color: #21243d;
}

@supports (font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem )) {
  .item-blog__block {
    font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem )) {
  .item-blog__block {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.item-blog__block:not(:last-child) {
  margin-bottom: 0.75em;
}

.item-blog__date {
  border-right: 0.0625rem solid #000000;
  padding-right: 1.625rem;
  margin-right: 1.625rem;
}

.item-blog__date:not(:last-child) {
  margin-bottom: 0.55em;
}

.item-blog__direction {
  line-height: 1.45;
  color: #8695a4;
}

.item-blog__text {
  font-size: 1rem;
  line-height: 1.5;
}

@supports (padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem )) {
  .work {
    padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem )) {
  .work {
    padding-bottom: calc(1.875rem + 3.3125 * (100vw - 20rem) / 35.375);
  }
}

.work__header {
  font-weight: 900;
  line-height: 1.3636363636;
  color: #21243d;
}

@supports (font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem )) {
  .work__header {
    font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3803003534rem  +  2.4734982332vw , 2.75rem )) {
  .work__header {
    font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 35.375);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 2.7963780919rem  +  -3.3568904594vw , 2.125rem )) {
  .work__header:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 2.7963780919rem  +  -3.3568904594vw , 2.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 2.7963780919rem  +  -3.3568904594vw , 2.125rem )) {
  .work__header:not(:last-child) {
    margin-bottom: calc(2.125rem + -1.1875 * (100vw - 20rem) / 35.375);
  }
}

.row-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

@supports (padding-top: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-work {
    padding-top: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-work {
    padding-top: calc(2.1875rem + 0 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-work {
    padding-bottom: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 2.1875rem , 2.1875rem  +  0vw , 2.1875rem )) {
  .row-work {
    padding-bottom: calc(2.1875rem + 0 * (100vw - 20rem) / 35.375);
  }
}

.row-work__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.4666666667;
  color: #21243d;
}

@supports (font-size: clamp( 1.5rem , 1.2879858657rem  +  1.0600706714vw , 1.875rem )) {
  .row-work__title {
    font-size: clamp( 1.5rem , 1.2879858657rem  +  1.0600706714vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2879858657rem  +  1.0600706714vw , 1.875rem )) {
  .row-work__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 35.375);
  }
}

.row-work__title:not(:last-child) {
  margin-bottom: 0.5333333333em;
}

.row-work__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
}

.row-work__block:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.row-work__date {
  font-weight: 900;
  line-height: 1.25;
  color: #ffffff;
  background-color: #142850;
  padding: 0rem 0.625rem;
  border-radius: 1rem;
}

@supports (font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem )) {
  .row-work__date {
    font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem )) {
  .row-work__date {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.row-work__type {
  line-height: 1.45;
  color: #8695a4;
}

@supports (font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem )) {
  .row-work__type {
    font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem )) {
  .row-work__type {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.row-work__text {
  line-height: 1.5;
  color: #21243d;
}

@supports (padding-left: clamp( 0.9375rem , -1.6773409894rem  +  13.074204947vw , 5.5625rem )) {
  .dashboard__container {
    padding-left: clamp( 0.9375rem , -1.6773409894rem  +  13.074204947vw , 5.5625rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.6773409894rem  +  13.074204947vw , 5.5625rem )) {
  .dashboard__container {
    padding-left: calc(0.9375rem + 4.625 * (100vw - 20rem) / 35.375);
  }
}

.dashboard__header {
  font-weight: 700;
  width: 31.625rem;
  line-height: 1.4705882353;
  color: #21243d;
}

@supports (font-size: clamp( 1.875rem , 1.7336572438rem  +  0.7067137809vw , 2.125rem )) {
  .dashboard__header {
    font-size: clamp( 1.875rem , 1.7336572438rem  +  0.7067137809vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7336572438rem  +  0.7067137809vw , 2.125rem )) {
  .dashboard__header {
    font-size: calc(1.875rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.dashboard__header:not(:last-child) {
  margin-bottom: 0.8823529412em;
}

.dashboard__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.0625rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
  .dashboard__block {
    margin-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
  .dashboard__block {
    margin-bottom: calc(1.875rem + 0 * (100vw - 20rem) / 35.375);
  }
}

.dashboard__date {
  background: #ff7c7c;
  border-radius: 1rem;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  padding: 0rem 0.625rem;
  color: #ffffff;
}

.dashboard__type {
  line-height: 1.45;
  color: #21243d;
}

@supports (font-size: clamp( 1.125rem , 1.0543286219rem  +  0.3533568905vw , 1.25rem )) {
  .dashboard__type {
    font-size: clamp( 1.125rem , 1.0543286219rem  +  0.3533568905vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0543286219rem  +  0.3533568905vw , 1.25rem )) {
  .dashboard__type {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 35.375);
  }
}

.dashboard__text {
  width: 42.5625rem;
  line-height: 1.5;
  color: #000000;
}

@supports (margin-bottom: clamp( 2.875rem , 2.875rem  +  0vw , 2.875rem )) {
  .dashboard__text {
    margin-bottom: clamp( 2.875rem , 2.875rem  +  0vw , 2.875rem );
  }
}

@supports not (margin-bottom: clamp( 2.875rem , 2.875rem  +  0vw , 2.875rem )) {
  .dashboard__text {
    margin-bottom: calc(2.875rem + 0 * (100vw - 20rem) / 35.375);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem )) {
  .dashboard__image {
    padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem )) {
  .dashboard__image {
    padding-bottom: calc(4.375rem + 0 * (100vw - 20rem) / 35.375);
  }
}

.dashboard__image img {
  max-width: 100%;
}

.contendt-dashboard__title {
  font-weight: 500;
  line-height: 2;
  color: #21243d;
}

@supports (font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem )) {
  .contendt-dashboard__title {
    font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem )) {
  .contendt-dashboard__title {
    font-size: calc(1.625rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.contendt-dashboard__subtitle {
  font-weight: 500;
  line-height: 2.5;
  color: #21243d;
}

@supports (font-size: clamp( 1.25rem , 1.1086572438rem  +  0.7067137809vw , 1.5rem )) {
  .contendt-dashboard__subtitle {
    font-size: clamp( 1.25rem , 1.1086572438rem  +  0.7067137809vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1086572438rem  +  0.7067137809vw , 1.5rem )) {
  .contendt-dashboard__subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 35.375);
  }
}

.contendt-dashboard__text {
  width: 42.3125rem;
  line-height: 1.5;
  color: #000000;
}

.contendt-dashboard__text:not(:last-child) {
  margin-bottom: 1.875em;
}

.contendt-dashboard__image:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.contendt-dashboard__image img {
  max-width: 100%;
}

@media (min-width: 47.99875em) {
  .blog__column {
    width: 42.625rem;
  }
}

@media (max-width: 65.9375em) {
  .menu__list {
    -webkit-transform: translate(0rem, 0px);
        -ms-transform: translate(0rem, 0px);
            transform: translate(0rem, 0px);
  }
}

@media (max-width: 47.99875em) {
  .preview__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .resent-posts__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .resent-posts__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .dashboard__header {
    width: 100%;
  }

  .dashboard__text {
    width: 100%;
  }

  .contendt-dashboard__text {
    width: 100%;
  }
}

@media (max-width: 41.25em) {
  .featured__header {
    text-align: center;
  }

  .row-featured {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .row-featured:first-child {
    padding-top: 0rem;
  }

  .row-work {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .row-work:first-child {
    padding-top: 0rem;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #edf7fa;
    padding: 4.6875rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    background-color: #edf7fa;
  }

  .menu-open .menu__body {
    left: 0;
    z-index: 2;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    gap: 0.9375rem;
  }

  .icon-menu {
    -webkit-tap-highlight-color: transparent;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .resent-posts__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-resent-posts__label {
    display: none;
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #cf0909;
  }

  .menu__item:hover {
    text-decoration: underline;
  }

  .top-resent-posts__label:hover {
    text-decoration: underline;
  }

  .item-resent-posts__link:hover {
    text-decoration: underline;
  }

  .item-blog__link:hover {
    text-decoration: underline;
  }
}